*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    display: flex;
    height: 70%;
    width: 70%;
    background-color: bisque;
}

.black{
    height: 100px;
    width: 100px;
    background-color: black;
}

.white{
    height: 100px;
    width: 100px;;
    background-color: rgb(255, 255, 255);

}